@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", monospace;
  --font-mono: "JetBrains Mono", monospace;
}

html,
body {
  background-color: #000000;
  color-scheme: dark;
  overflow: hidden;
  height: 100%;
}
